body {
  background-color: antiquewhite;
}

.container {
  max-width: 600px;
  margin: auto;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  margin: 2rem;
  transition: 200ms;
}

.selection:hover {
  scale: 1.3;
}

.results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.result-score {
  margin-left: 1rem;
  color: rgb(177, 152, 68);
}
